<div class="container">
<div class ="row" ng-controller="HeaderController as hdrctr">
<div class="panel panel-default loginpanel" ng-if="!hdrctr.hdrvars.authenticated" >
<div class="panel-heading"><b>Welcome to blgr.</b></div>
<div class="panel-body">
  <form name="signUpForm" ng-controller="RegisterCtrl as reg" ng-submit="reg.register()" class="login-box">
    <md-card-title>
      <md-card-title-text>
        <div ng-repeat="error in reg.registerError">
          <p class="alert alert-danger animated fadeIn">{{error.msg}}</p>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>

      <md-input-container class="md-block">
        <label>Full Name</label>
        <input type="text" ng-model="reg.user.name">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email Address</label>
        <input type="email" ng-model="reg.user.email">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Username</label>
        <input type="text" ng-model="reg.user.username">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="reg.user.password">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Confirm Password</label>
        <input type="password" ng-model="reg.user.confirmPassword">
      </md-input-container>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="btn" ui-sref="forgot-password">Forgot Password</md-button>
      <md-button class="btn" ui-sref="home">Login</md-button>
      <span flex></span>
      <md-button class="btn md-primary" type="submit">Join</md-button>
    </md-card-actions>
  </form>

</div>
</div>
</div>
</div>
