<header class="intro-header" style="background-image: url('meanStarter/assets/img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>
            Hi welcome to my blog <span class="glyphicon glyphicon-heart-empty"></span> Join me in my weekly adventures : cheap, fun and thrilling -- perfect for your andrenaline fix!
          </p>
    </div>
</div>

<hr>
