
<div  style="background:#0E3964;">
<div class="container">

<div class="row" ng-controller="HeaderController as hdrctr">



<div class="posts" ng-if="!hdrctr.hdrvars.authenticated">
  <div class=" margin"  style="height:100px;">
  </div>
  <div class="container" style="width:50%;">
    <div class="row">


    <div class="panel panel-default">
      <div class="panel-heading">Sample Post Title</div>
      <div class="panel-body">Sample post content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Sample Post Title</div>
      <div class="panel-body">Sample post content</div>
    </div>

        <div class="panel panel-default">
          <div class="panel-heading">Sample Post Title</div>
          <div class="panel-body">Sample post content</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Sample Post Title</div>
          <div class="panel-body">Sample post content</div>
        </div>

            <div class="panel panel-default">
              <div class="panel-heading">Sample Post Title</div>
              <div class="panel-body">Sample post content</div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Sample Post Title</div>
              <div class="panel-body">Sample post content</div>
            </div>

                <div class="panel panel-default">
                  <div class="panel-heading">Sample Post Title</div>
                  <div class="panel-body">Sample post content</div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">Sample Post Title</div>
                  <div class="panel-body">Sample post content</div>
                </div>
    </div>
  </div>
</div>
</div>
</div>

</div>
</div>
