<md-subheader class="md-primary">MEAN.io makes building apps simpler and faster</md-subheader>
<script type="text/javascript" src="/bundle/app.js"></script>
<!-- jQuery -->
<script src="meanStarter/assets/js/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="meanStarter/assets/bootstrap/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="meanStarter/assets/js/jqBootstrapValidation.js"></script>
<script src="meanStarter/assets/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="meanStarter/asses/js/clean-blog.min.js"></script>

{% if (process.env.NODE_ENV == 'development') %}
  <script type="text/javascript" src="{{'//' + req.hostname + ':35729/livereload.js'}}"></script>
{% endif %}
